.bg{
    height: 600px;
	width: 500px;
	color:#34495e;
    border: 10px solid grey;
    border-top-right-radius:5%;
    border-bottom-left-radius:5%;
}
.head{
      font-family:serif;
	font-style:oblique ;
	font-size: 25px;
	text-align: center;
}
.ask{
	color:red;
}
.form{
	list-style-type:none;
    text-align: left;
}
.btn{
	width: 300px;
	background-color:#34495e;
}
.btn:hover{
	background-color: royalblue;
}
button:hover{
	background-color: royalblue;
}
button{
	background-color:#34495e ;
}